body {
    background-color: black;
    text-align: center;
}

h1,
h2 {
    color: white;
}

.ball {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 10px auto;

    font-size: 22px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 1s;
}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: .5em 1em;
}

button:disabled {
    cursor: not-allowed;
    color: pink;
}